<% title 'Về chúng tôi' %>

<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Gia Định Ford</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="<%= erp_giafordhcm.root_path %>"><i class="icon fa fa-home"></i></a></li>
                    <li class="active">Giới thiệu</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->
<section class="section-type-1 about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="top-content">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-responsive" src="/frontend/images/about-us.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h2 class="section-type-2__title">CÔNG TY TNHH DV SÀI GÒN Ô TÔ GIA ĐỊNH</h2>
                            <div class="section-type-2__subtitle">GIA ĐỊNH FORD</div>
                            <ul class="list list-mark-5 list_mark-prim">
                                <li>Tọa lạc tại địa chỉ số 900 Quốc lộ 1A, Phường Thạnh Xuân, Quận 12, Thành phố Hồ Chí Minh (trên trục quốc lộ 1A và nằm gần Ngã Tư Ga)</li>
                                <li>Được biết đến là đại lý ô tô đầu tiên được Ford Việt Nam tiến hành đầu tư và trang bị cơ sở vật chất cùng trang thiết bị hiện đại theo đúng tiêu chuẩn Ford Signture</li>
                                <li>Chính thức được khai trương và đi vào hoạt động vào ngày 08/01/2019.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <p>Với tổng diện tích xây dựng hơn 5000m2. Trong đó, diện tích Xưởng Dịch vụ khoảng 3500m2, các trang thiết bị Xưởng sửa chữa được trang bị đồng bộ, hiện đại với các thiết bị được nhập khẩu hoàn toàn từ Mỹ và Châu Âu, lắp đặt theo đúng tiêu chuẩn của Ford.</p>
                    <p>Đến với đại lý Ford Gia Định, quý khách hàng không chỉ được trải nghiệm sự hiện đại về hệ thống cơ sở vật chất và trang thiết bị mà còn cảm nhận được sự chuyên nghiệp cũng như tận tình trong tác phong phục vụ của đội ngũ CBNV tại đây. Chúng tôi luôn cam kết mang đến cho khách hàng những giá trị tốt nhất không chỉ từ chất lượng sản phẩm mà còn là sự an tâm tuyệt đối trong quá trình sử dụng dịch vụ. Luôn lấy sự hài lòng của quý khách là mục tiêu hàng đầu cho các hoạt động kinh doanh của Đại lý.</p>
                    <p>Chúng tôi tin rằng, với những ưu đãi đặc biệt mà chúng tôi mang lại, quý khách hàng sẽ có thêm nguồn động lực để đưa ra quyết định lựa chọn sản phẩm cho bản thân, gia đình cũng như doanh nghiệp của bạn. Những ưu đãi thiết thực này cũng chính là món quà tri ân của chúng tôi dành tặng đến tất cả quý khách hàng đã, đang và sẽ đồng hành cùng chúng tôi trên suốt chặng đường vừa qua, cũng như những chặng đường phía trước. Sự hài lòng của quý khách chính là thành công và là nguồn động lực của tập thể Ford Gia Định chúng tôi.</p>
                </div>
                
                <div class="bottom-content">
                    <ul class="list list-mark-5 list_mark-prim">
                    <li><strong>Hotline:</strong> <%= link_to @web_info.phone, "tel:#{@web_info.phone}", class: 'telto' %> - Mr. Tường</li>
                    <li><strong>Email:</strong> <%= mail_to @web_info.email, @web_info.email, class: 'mailto' %></li>
                    <li><strong>Địa chỉ:</strong> <%= full_address(@web_info) %></li>
                    <li><strong>Website:</strong> <%= link_to @web_info.website, @web_info.website %></li>
                </ul>
                </div>
            </div>
            <div class="col-md-3">
                <%= render "erp/giafordhcm/frontend/modules/contact_info_boxes" %>
            </div>
        </div>
    </div>
</section>