<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a"><%= @menu.name %></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="<%= erp_giafordhcm.root_path %>"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li><a href="<%= erp_giafordhcm.all_product_path %>">Sản phẩm</a>
                    </li>
                    <li class="active"><%= @menu.name %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <main class="l-main-content">
                <div class="filter-goods">
                    <div class="filter-goods__info"><%= page_entries_info @products %>
                    </div>
                    <div class="filter-goods__select">
                        <div class="btns-switch"><i class="btns-switch__item js-view-th active icon fa fa-th-large"></i><i class="btns-switch__item js-view-list icon fa fa-th-list"></i>
                        </div>
                    </div>
                </div>
                <!-- end .filter-goods-->
                
                <div class="goods-group wrap-inl-block">
                    <div class="row">
                        <% @products.each do |product| %>
                            <div class="col-md-4 col-sm-6">
                                <div class="b-goods-ac">
                                    <div class="b-goods-ac__wrap">
                                        <div class="b-goods-ac__img">
                                            <!--560x350-->
                                            <%= link_to image_tag(product_image(product.product_images, 'first', 'thumb560x350'), alt: product.product_name, class: "img-responsive img-fullwidth"),
                                                        product_link(product), title: product.product_name %>
                                        </div>
                                        <div class="b-goods-ac__inner">
                                            <div class="b-goods-ac__info">
                                                <a href="<%= product_link(product) %>">
                                                    <div class="b-goods-ac__name"><%= product.name %></div>
                                                </a>
                                            </div>
                                            <div class="b-goods-ac__price">Giá bán: <span><%= format_number(product.price) %></span><sup>VNĐ</sup></div>
                                            <div class="b-goods-ac__price callme">Hãy liên hệ để nhận giá tốt</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end .b-goods-access-->
                            </div>
                        <% end %>
                    </div>
                </div>
                
                <div class="goods-group-2 list-goods list-goods_th">
                    
                        <section class="b-goods-1 b-goods-1_mod-a">
                            <div class="row">
                                <% @products.each do |product| %>
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="b-goods-ac">-->
                                            <div class="b-goods-1__img">
                                                
                                                <span class="b-goods-1__price hidden-th"><%= format_price(product.price) %>
                                                    <a class="dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">
                                                        <span class="b-goods-1__price-msrp">Bấm để nhật báo giá tốt nhất</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="b-goods-1__inner">
                                                <div class="b-goods-1__header">
                                                    <h2 class="b-goods-1__name">
                                                        <%= link_to truncate(product.name, length: 60), product_link(product), title: product.product_name %>
                                                    </h2>
                                                </div>
                                                <span class="b-goods-1__price_th text-primary visible-th"><%= format_price(product.price) %>
                                                    <a class="dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">
                                                        <span class="b-goods-1__price-msrp">Bấm để nhật báo giá tốt nhất</span>
                                                    </a>
                                                </span>
                                            </div>
                                        <!--</div>-->
                                    <!--</div>-->
                                <% end %>
                            </div>
                        </section>
                </div>
            </main>
        </div>
        <div class="col-md-3">
            <aside class="l-sidebar">
                <form class="b-filter-2 bg-grey">
                    <h3 class="b-filter-2__title">search options</h3>
                    <div class="b-filter-2__inner">
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">keyword</div>
                            <input class="form-control" type="text" placeholder="Keyword..." />
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">Vehicle Type</div>
                            <select class="selectpicker" data-width="100%">
                                <option>All Types</option>
                                <option>Type 1</option>
                                <option>Type 2</option>
                                <option>Type 3</option>
                            </select>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">Make</div>
                            <select class="selectpicker" data-width="100%">
                                <option>All Makes</option>
                                <option>Make 1</option>
                                <option>Make 2</option>
                            </select>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">Model</div>
                            <select class="selectpicker" data-width="100%">
                                <option>All Models</option>
                                <option>Model 1</option>
                                <option>Model 2</option>
                                <option>Model 3</option>
                            </select>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">Model Year</div>
                            <select class="selectpicker" data-width="100%">
                                <option>Min Year</option>
                                <option>Year 1</option>
                                <option>Year 2</option>
                            </select>
                            <select class="selectpicker" data-width="100%">
                                <option>Max Year</option>
                                <option>Year 1</option>
                                <option>Year 2</option>
                            </select>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">fuel type</div>
                            <select class="selectpicker" data-width="100%">
                                <option>All Fuel Types</option>
                                <option>Type 1</option>
                                <option>Type 2</option>
                                <option>Type 3</option>
                            </select>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">Filter Price</div>
                            <div class="ui-filter-slider">
                                <div id="slider-price"></div>
                                <div class="ui-filter-slider__info">
                                    <div class="ui-filter-slider__label">Price Range:</div><span class="ui-filter-slider__current" id="slider-snap-value-lower"></span>-<span class="ui-filter-slider__current" id="slider-snap-value-upper"></span>
                                </div>
                            </div>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">Body style</div>
                            <div class="b-filter-type-2">
                                <div class="b-filter-type-2__item">
                                    <input class="b-filter-type-2__input" id="typePickup" type="checkbox" />
                                    <label class="b-filter-type-2__label" for="typePickup"><i class="b-filter-type-2__icon flaticon-pick-up"></i><span class="b-filter-type-2__title">PICKUP</span>
                                    </label>
                                </div>
                                <div class="b-filter-type-2__item">
                                    <input class="b-filter-type-2__input" id="typeSuv" type="checkbox" />
                                    <label class="b-filter-type-2__label" for="typeSuv"><i class="b-filter-type-2__icon flaticon-car-of-hatchback-model"></i><span class="b-filter-type-2__title">SUV</span>
                                    </label>
                                </div>
                                <div class="b-filter-type-2__item">
                                    <input class="b-filter-type-2__input" id="typeCoupe" type="checkbox" />
                                    <label class="b-filter-type-2__label" for="typeCoupe"><i class="b-filter-type-2__icon flaticon-coupe-car"></i><span class="b-filter-type-2__title">coupe</span>
                                    </label>
                                </div>
                                <div class="b-filter-type-2__item">
                                    <input class="b-filter-type-2__input" id="typeConvertible" type="checkbox" checked="checked" />
                                    <label class="b-filter-type-2__label" for="typeConvertible"><i class="b-filter-type-2__icon flaticon-cabrio-car"></i><span class="b-filter-type-2__title">CONVERTIBLE</span>
                                    </label>
                                </div>
                                <div class="b-filter-type-2__item">
                                    <input class="b-filter-type-2__input" id="typeSedan" type="checkbox" />
                                    <label class="b-filter-type-2__label" for="typeSedan"><i class="b-filter-type-2__icon flaticon-sedan-car-model"></i><span class="b-filter-type-2__title">sedan</span>
                                    </label>
                                </div>
                                <div class="b-filter-type-2__item">
                                    <input class="b-filter-type-2__input" id="typeMinicar" type="checkbox" />
                                    <label class="b-filter-type-2__label" for="typeMinicar"><i class="b-filter-type-2__icon flaticon-car-1"></i><span class="b-filter-type-2__title">MINICAR</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="b-filter-2__group">
                            <div class="b-filter-2__group-title">TRANSMISSION</div>
                            <div class="checkbox-group">
                                <input class="forms__check hidden" id="check-1" type="checkbox" />
                                <label class="forms__label forms__label-check forms__label-check-1" for="check-1">4 Speed Automatic</label>
                                <input class="forms__check hidden" id="check-2" type="checkbox" />
                                <label class="forms__label forms__label-check forms__label-check-1" for="check-2">4 Speed Manual</label>
                                <input class="forms__check hidden" id="check-3" type="checkbox" checked="checked" />
                                <label class="forms__label forms__label-check forms__label-check-1" for="check-3">5 Speed Automatic</label>
                                <input class="forms__check hidden" id="check-4" type="checkbox" />
                                <label class="forms__label forms__label-check forms__label-check-1" for="check-4">5 Speed Manual</label>
                                <input class="forms__check hidden" id="check-5" type="checkbox" checked="checked" />
                                <label class="forms__label forms__label-check forms__label-check-1" for="check-5">6-Speed Semi-Auto</label>
                                <input class="forms__check hidden" id="check-6" type="checkbox" />
                                <label class="forms__label forms__label-check forms__label-check-1" for="check-6">6-Speed Manual</label>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end .b-filter-->
            </aside>
            <!-- end .l-sidebar-->
        </div>
    </div>
</div>