<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Sản phẩm</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->

<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="<%= erp_giafordhcm.root_path %>"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li class="active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->

<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <% @menus.each do |menu| %>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <h2 class="ui-title-block text-uppercase"><%= menu.name %> - HOTLINE 090 525 0593</h2>
                                <div class="ui-subtitle-block"><%= menu.description %></div>
                                <div class="ui-decor"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goods-group wrap-inl-block">
                        <div class="row">
                            <% menu.get_products_for_categories(params).each do |product| %>
                                <div class="col-md-4 col-sm-6">
                                    <div class="b-goods-ac">
                                        <div class="b-goods-ac__wrap">
                                            <div class="b-goods-ac__img">
                                                <a href="<%= erp_giafordhcm.product_detail_path(product_id: 1, title: url_friendly("Ford Everest Ambiente 2.0L AT 4x2")) %>">
                                                    <img class="img-responsive" src="/frontend/assets/media/components/b-goods/ford-everest-ambiente.jpg" alt="foto" />
                                                </a>
                                            </div>
                                            <div class="b-goods-ac__inner">
                                                <div class="b-goods-ac__info">
                                                    <a href="<%= erp_giafordhcm.product_detail_path(product_id: 1, title: url_friendly("Ford Everest Ambiente 2.0L AT 4x2")) %>">
                                                        <div class="b-goods-ac__name">Ford Everest Ambiente 2.0L AT 4x2</div>
                                                    </a>
                                                </div>
                                                <div class="b-goods-ac__price">Giá bán: <span>1.022.000.000</span><sup>VNĐ</sup></div>
                                                <div class="b-goods-ac__price discount">Hãy liên hệ để nhận giá tốt</div>
                                                <!--<div class="b-goods-ac__price discount">Giảm thêm (tháng 6): <span>30.000.000</span><sup>VNĐ</sup></div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>