<section class="section-default">
    <div class="container">
        <div class="row">
            <% Erp::Menus::Menu.get_active.where(parent_id: nil).each do |menu| %>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <h2 class="ui-title-block text-uppercase">
                                    - <%= menu.name %> -
                                    <span>HOTLINE <a href="tel:<%= @web_info.phone %>" class="telto"><%= @web_info.phone %></a></span>
                                </h2>
                                <div class="ui-subtitle-block"><%= menu.description %></div>
                                <div class="ui-decor"></div>
                            </div>
                        </div>
                    </div>
                    <div class="goods-group wrap-inl-block">
                        <div class="row vehicle-group">
                            <% children = (menu.children.empty? ? menu.parent.children : menu.children) %>
                            <% children.get_active.each do |submenu| %>
                                <%
                                    @link = menu_link(submenu)
                                    if submenu.get_products_for_categories({}).count == 1
                                        @link = product_link(submenu.get_products_for_categories({}).first)
                                    end
                                %>
                                <div class="col-md-6 col-sm-6">
                                    <div class="b-goods-ac">
                                        <div class="b-goods-ac__wrap">
                                            <div class="b-goods-ac__img">
                                                <a href="<%= @link %>">
                                                    <img class="img-responsive" src="<%= submenu.image_menu.present? ? (submenu.image_menu.thumb_560_350) : '/frontend/assets/media/components/b-goods/ford-everest-ambiente.jpg' %>" alt="" />
                                                </a>
                                            </div>
                                            <div class="b-goods-ac__inner">
                                                <div class="b-goods-ac__info">
                                                    <a href="<%= @link %>">
                                                        <div class="b-goods-ac__name"><%= submenu.name %></div>
                                                    </a>
                                                </div>
                                                <div class="b-goods-ac__price discount">Liên hệ: <span><%= @web_info.phone %></span> để nhận giá ưu đãi trong tháng</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>
