<!DOCTYPE html>
<html lang="vi-VN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Ford Gia Định - Đại Lý Xe Ford Uy Tín Tại Việt Nam</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="HandheldFriendly" content="true" />
        <link rel="stylesheet" href="/frontend/assets/css/master.css" />
        <link rel="stylesheet" href="/frontend/css/custom.css" />
        <!-- SWITCHER-->
        
        <link rel="icon" type="image/x-icon" href="/frontend/assets/favicon.ico" />
        <!--[if lt IE 9 ]>
        <script src="/frontend/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
        <![endif]-->
    </head>

    <body>
        <!-- Loader-->
        <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span>
        </div>
        <!-- Loader end-->
        <%= render "layouts/erp/frontend/modules/mobile_slidebar" %>
        <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container"><!--.l-theme-custom-->
            <%= render "layouts/erp/frontend/modules/header" %>
            
            <%= yield %>
            <% if false %>
                <div class="sidebar-contact-us">
                    <div class="sidebar-toggle" title="Nhấn để ẩn"></div>
                    <div class="sidebar-info">
                        <div class="business-man__img">
                            <img src="/frontend/assets/media/components/b-blockquote/mrtuong.jpg" alt="" />
                        </div>
                        <blockquote>
                            <cite class="b-blockquote__cite" title="Blockquote Title">
                                <span class="b-blockquote__author">Mr. Tường Nguyễn</span>
                                <span class="b-blockquote__category">Chuyên viên Kinh doanh</span>
                                <a href="tel:090 525 0593">
                                    <span class="b-blockquote__hotline">
                                        <i class="flaticon-smartphone"></i> 090 525 0593
                                    </span>
                                </a>
                            </cite>
                            <ul class="list list-mark">
                                <li>Giá xe Ford tốt nhất thị trường.</li>
                                <li>Nhiều khuyến mãi và ưu đãi nhất.</li>
                                <li>Trả góp lãi suất thấp nhất.</li>
                            </ul>
                        </blockquote>
                        <a class="btn btn-standard btn-xs mb-5" href="#">Yêu cầu báo giá</a>
                        <a class="btn btn-standard btn-xs" href="#">Đăng ký lái thử</a>
                    </div>
                </div>
            <% end %>
            <%= render "layouts/erp/frontend/modules/footer" %>
        </div>
        <!-- end layout-theme-->
        
        <%= render "layouts/erp/frontend/modules/main_script" %>
    </body>

</html>