<!DOCTYPE html>
<html lang="vi-VN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Ford Gia Định - Đại Lý Xe Ford Uy Tín Tại Việt Nam</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="HandheldFriendly" content="true" />
        <link rel="stylesheet" href="/frontend/assets/css/master.css" />
        <link rel="stylesheet" href="/frontend/css/custom.css" />
        <!-- SWITCHER-->
        
        <link rel="icon" type="image/x-icon" href="/frontend/assets/favicon.ico" />
        <!--[if lt IE 9 ]>
        <script src="/frontend/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
        <![endif]-->
    </head>

    <body>
        <!-- Loader-->
        <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span>
        </div>
        <!-- Loader end-->
        <%= render "layouts/erp/frontend/modules/mobile_slidebar" %>
        <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container"><!--.l-theme-custom-->
            <%= render "layouts/erp/frontend/modules/header" %>
            
            <%= yield %>
            
            <%= render "layouts/erp/frontend/modules/footer" %>
            <aside class="floating">
                <a class="button callme" href="#">090 525 0593</a>
                
            </aside>
        </div>
        <!-- end layout-theme-->
        
        <%= render "layouts/erp/frontend/modules/main_script" %>
    </body>

</html>