<nav class="navbar" id="nav">
    <div class="container">
        <div class="header-navibox-1">
            <!-- Mobile Trigger Start-->
            <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
            </button>
            <!-- Mobile Trigger End-->
            <a class="navbar-brand scroll" href="<%= erp_giafordhcm.root_path %>">
                <img class="normal-logo img-responsive" src="/frontend/images/main-logo.png" alt="logo" />
                <img class="scroll-logo hidden-xs img-responsive" src="/frontend/images/main-logo.png" alt="logo" />
            </a>
        </div>
        <div class="header-navibox-3">
            <a class="btn btn-primary navbar-info" href="tel:<%= web_info.phone %>">
                <div class="text-uppercase">
                    Gia Định Ford
                </div>
                <span>Mr. Tường - <%= web_info.phone %></span>
            </a>
        </div>
        <div class="header-navibox-contact">
            <div class="contact-info-toggle">
                Thông tin liên hệ
            </div>
            <div class="contact-info-content">
                <div class="business-man__img">
                    <img src="/frontend/assets/media/components/b-blockquote/mrtuong.jpg" alt="" />
                </div>
                <blockquote>
                    <cite class="b-blockquote__cite" title="Blockquote Title">
                        <span class="b-blockquote__author">Mr. Tường Nguyễn</span>
                        <span class="b-blockquote__category">Chuyên viên Kinh doanh</span>
                        <a href="tel:<%= web_info.phone %>">
                            <span class="b-blockquote__hotline">
                                <i class="flaticon-smartphone"></i> <%= web_info.phone %>
                            </span>
                        </a>
                    </cite>
                    <ul class="list list-mark">
                        <li>Giá xe Ford tốt nhất thị trường.</li>
                        <li>Nhiều khuyến mãi và ưu đãi nhất.</li>
                        <li>Trả góp lãi suất thấp nhất.</li>
                    </ul>
                </blockquote>
                <a class="btn btn-standard btn-xs dang-ky-button mb-5" href="<%= erp_giafordhcm.registration_form_path(type: 'quote') %>">Yêu cầu báo giá</a>
                <a class="btn btn-standard btn-xs dang-ky-button" href="<%= erp_giafordhcm.registration_form_path(type: 'test_drive') %>">Đăng ký lái thử</a>
            </div>
        </div>
        <div class="header-navibox-2">
            <ul class="yamm main-menu nav navbar-nav">
                <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/home" %>">
                    <a href="<%= erp_giafordhcm.root_path %>">Trang chủ</a>
                </li>
                <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/about_us" %>">
                    <a href="<%= erp_giafordhcm.about_us_path %>">Giới thiệu</a>
                </li>
                <li class="dropdown <%= 'active' if params[:controller] == "erp/giafordhcm/frontend/product" %>">
                    <a class="dropdown-toggle" href="<%= erp_giafordhcm.all_product_path %>">
                        Sản phẩm <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu horizontal" role="menu">
                        <% @menus = Erp::Menus::Menu.get_active.where.not(parent_id: nil) %>
                        <% @menus.each do |sp| %>
                        <%
                            @link = menu_link(sp)
                            if sp.get_products_for_categories({}).count == 1
                                @link = product_link(sp.get_products_for_categories({}).first)
                            end
                        %>
                        <li>
                            <a title="<%= sp.name %>" href="<%= @link %>">
                                <center>
                                    <img src="<%= sp.image_menu.present? ? (sp.image_menu.thumb_560_350) : '/frontend/assets/media/components/b-goods/ford-everest-ambiente.jpg' %>">
                                </center>
                                <span><%= sp.name %></span>
                            </a>
                        </li>
                        <% end %>
                    </ul>
                </li>
                <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/price" %>">
                    <a href="<%= erp_giafordhcm.price_list_path %>">Bảng giá</a>
                </li>
                <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/installment" %>">
                    <a href="<%= erp_giafordhcm.installment_path %>">Trả góp</a>
                </li>
                <li class="dropdown <%= 'active' if params[:controller] == "erp/giafordhcm/frontend/blog" %>">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Tin tức khuyến mãi<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <% Erp::Articles::Category.get_categories_by_alias_blog.each do |menu_blog| %>
                            <li><a href="<%= blogs_link(menu_blog) %>"><%= menu_blog.name %></a></li>
                        <% end %>
                        <% Erp::Articles::Category.get_categories_by_alias_custom.each do |menu_custom| %>
                            <% article = Erp::Articles::Article.find_by_category_id(menu_custom.id) %>
                            <li>
                                <a href="<%= article.nil? ? 'javascript:;' : single_post_link(article) %>"><%= menu_custom.name %></a>
                            </li>
                        <% end %>
                    </ul>
                </li>
                <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/contact_us" %>">
                    <a href="<%= erp_giafordhcm.contact_us_path %>">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>