<footer class="footer area-bg">
    <div class="area-bg__inner">
        <div class="footer__main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-section">
                            <a class="footer__logo" href="home.html">
                                <img class="img-responsive" src="/frontend/images/footer-logo.png" alt="Logo" />
                            </a>
                            <div class="footer__info">
                                <span><b><i>"Đã là Khách Hàng - Tức là Thượng Đế"</i></b></span>
                                <span>Đến với GiaFordHcm.com, bạn không cần phải đắn đo về giá. Bằng kinh nghiệm và sự tâm huyết 10 năm trong nghề của tôi, tôi sẽ trao cho bạn chìa khoá thành công với mức Giá Tốt Nhất thị trường.</span>
                                <span>Hơn cả 1 chiếc xe, cái bạn nhận được là Giá Trị Cuộc Sống mà Ford mang lại!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <section class="footer-section footer-section_list-columns">
                            <h3 class="footer-section__title ui-title-inner">Danh mục xe</h3>
                            <ul class="footer-list list-unstyled">
                                <% Erp::Menus::Menu.get_active.where.not(parent_id: nil).each do |menu| %>
                                    <li class="footer-list__item"><a class="footer-list__link" href="<%= menu_link(menu) %>"><%= menu.name %></a></li>
                                <% end %>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="footer-section footer-section_list-one">
                            <h3 class="footer-section__title ui-title-inner">Hỗ trợ khách hàng</h3>
                            <ul class="footer-list list-unstyled">
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Giới thiệu</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Bảng giá</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Tin tức</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Khuyến mãi</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Thủ tục trả góp</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Đăng ký lái thử</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Mua xe cũ giá cao</a></li>
                                <li class="footer-list__item"><a class="footer-list__link" href="#">Liên hệ</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="footer-section">
                            <h3 class="footer-section__title ui-title-inner">Thông tin liên hệ</h3>
                            <div class="footer-contact"><i class="icon icon-xs fa fa-phone"></i> <a href="tel:<%= web_info.phone %>" class="footer-contact_lg"><%= web_info.phone %></a></div>
                            <div class="footer-contact">
                                <i class="icon icon-xs fa fa-envelope"></i>
                                <%= mail_to 'tuong.npp@giafordhcm.com', 'tuong.npp@giafordhcm.com', class: 'footer__link' %>
                                <%= mail_to 'npptuong@giadinhford.com.vn', 'npptuong@giadinhford.com.vn', class: 'footer__link' %>
                            </div>
                            <div class="footer-contact"><i class="icon icon-xs fa fa-home"></i> <%= full_address(web_info) %></div>
                            <div class="footer-contact"><i class="icon icon-xs fa fa-globe"></i> <%= web_info.website %></div>
                        </section>
                        <section class="footer-section">
                            <h3 class="footer-section__title ui-title-inner">Kết nối mạng xã hội</h3>
                            
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                </li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                </li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="linkedin.com"><i class="icon fa fa-linkedin"></i></a>
                                </li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="instagram.com"><i class="icon fa fa-instagram"></i></a>
                                </li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="youtube.com"><i class="icon fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="left">Copyright &copy; 2019 GIAFORDHCM.COM - All Rights Reserved</span>
                        <span class="right">Designed by Hoang Khang Incotech</span>
                    </div>
                </div>
            </div>
        </div><span class="btn-up" id="toTop">Lên đầu trang</span>
    </div>
</footer>
<!-- .footer-->