Xin chào,
<p>Hộp thư 'Liên Hệ & Góp Ý' vừa nhận được một tin nhắn với nội dung như sau:</p>
<p>
    Người liên hệ: <%= @message.contact.name %><br />
    Số điện thoại: <%= @message.contact.phone %><br />
    Địa chỉ email: <%= @message.contact.email %><br />
    Chủ đề: <%= @message.subject %><br />
    Lời nhắn: <%= @message.message %>
</p>
<p>Vui lòng xử lý nội dung trên và phản hồi sớm đến người đã liên hệ.</p>
<p>Trân trọng,<br/>
</p>
<p style="color: #999;font-size: 12px;">
    <i>
        *Đây là thư tự động, vui lòng không trả lời thư này!
    </i>
</p>